%body
  %header.new-header
    %h1
      %a{:href => "http://furima.tokyo/?utf8=%E2%9C%93&key=&authenticity_token=UevxGZzcSKajTarCjryjWUlJ55%2FOE4M%2FrOCFzPCEFL7s7SCAGAxNbn7dZb5LoXbcXoEKY6%2B94hlugXjuBVJ%2BXQ%3D%3D"}
        %img{:alt => "furima", :src => "http://furima.tokyo/assets/logo-d3d78326971d78b06e3d6f0ba666d025a8ad681286b4d9e00e7dbe8673bcfd23.svg"}/
  %h2 ログイン
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .field-first
      = f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "メールアドレス", :class=> "input-email-for-login"
    .field
      = f.password_field :password, autocomplete: "current-password", :placeholder => "パスワード"
      %a.forget-password ＞パスワードをお忘れの方
    - if devise_mapping.rememberable?
      .field-checkbox
        = f.check_box :remember_me
        %label{:for => "user_remember_me"} ログイン情報を記録する
    .field
      = f.submit "ログイン", :class=> "btn-next"
    .field-no-account
      %p 会員登録がまだの方はこちら
      .btn-no-account
        = link_to "新規会員登録", "sign_up", class: "btn-no-account"
  .new-footer
    .footer-main
    .footer-logo
      %a{:href => "http://furima.tokyo/?utf8=%E2%9C%93&key=&authenticity_token=UevxGZzcSKajTarCjryjWUlJ55%2FOE4M%2FrOCFzPCEFL7s7SCAGAxNbn7dZb5LoXbcXoEKY6%2B94hlugXjuBVJ%2BXQ%3D%3D"}
        %img{:alt => "furima", :src => "http://furima.tokyo/assets/logo-white-f61961ed5170064c5f33dd4524bdceeb5a5df2c83eb76fba31143f63fbab2c5e.svg"}/
    .mark-of-copy-right ©︎ FURIMA
