%body
  %header.new-header
    %h1
      %a{:href => "http://furima.tokyo/?utf8=%E2%9C%93&key=&authenticity_token=UevxGZzcSKajTarCjryjWUlJ55%2FOE4M%2FrOCFzPCEFL7s7SCAGAxNbn7dZb5LoXbcXoEKY6%2B94hlugXjuBVJ%2BXQ%3D%3D"}
        %img{:alt => "furima", :src => "http://furima.tokyo/assets/logo-d3d78326971d78b06e3d6f0ba666d025a8ad681286b4d9e00e7dbe8673bcfd23.svg"}/
%h2 住所登録（発送元・お届け先）
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = render "devise/shared/error_messages", resource: resource
  .field
    = f.label :お名前（全角）
    %span.plate-required 必須
    %br/
    = f.text_field :last_name, autofocus: true, :placeholder => "例) 大阪"
    = f.text_field :first_name, autofocus: true, :placeholder => "例) 花子"
  .field
    = f.label :お名前カナ（全角）
    %span.plate-required 必須
    %br/
    = f.text_field :last_furigana, autofocus: true, :placeholder => "例) オオサカ"
    = f.text_field :first_furigana, autofocus: true, :placeholder => "例) ハナコ"
