= render partial: 'layouts/header'
.main
  .notice1
    - flash.each do |key, value|
      = content_tag(:div, value, class: key)
  .main__top
    .main__top__inner
      %h2 人生を変えるフリマアプリ
      %p
        FURIMAはだれでもかんたんに出品・購入できる
        %br>/
        フリマアプリです
      .main__top__inner__btn
        = render partial: 'app.html'

.top-introduction
  %h3 FURIMAが選ばれる3つの理由
  %ul.top-introduction__list
    %li.top-introduction__list__content
      = image_tag "/images/material/pict/pict-reason-01.jpg"
      %p.top-introduction__list__content__number 1
      %p.top-introduction__list__content__title 
        %span 3分 
        ですぐに出品
      %p.top-introduction__list__content__text スマホで入力するだけで簡単に出品できる！
    %li.top-introduction__list__content
      = image_tag "/images/material/pict/pict-reason-02.jpg"
      %p.top-introduction__list__content__number 2
      %p.top-introduction__list__content__title 
        %span シンプル 
        で使いやすい
      %p.top-introduction__list__content__text めんどくさい入力は必要なく、検索も購入もスムーズ！
    %li.top-introduction__list__content
      = image_tag "/images/material/pict/pict-reason-03.jpg"
      %p.top-introduction__list__content__number 3
      %p.top-introduction__list__content__title 
        手数料 
        %span 業界最安
      %p.top-introduction__list__content__text 最大3%でお得に出品&購入！

.topMiddle
  .topMiddle__inner
    %h2 会員数日本一位
    %p 
      FURIMAは、フリマアプリで最も人気。
      %br 
      出品・購入回数も業界最多です！
      %br
      ほしかったあの商品に出会えるかもしれません。
    .topMiddle__inner__btn
      = render partial: 'app.html'

.middle-introduction
  %h2 FURIMAの特徴
  %ul.middle-introduction__list
    %li.middle-introduction__list__content
      = image_tag "/images/material/icon/icon-01.png"
      %p.middle-introduction__list__content__title 簡単に売り買いできる
      %p.middle-introduction__list__content__text スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
    %li.middle-introduction__list__content
      = image_tag "/images/material/icon/icon-03.png"
      %p.middle-introduction__list__content__title 売上金は即日振込みに対応
      %p.middle-introduction__list__content__text 午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
    %li.middle-introduction__list__content
      = image_tag "/images/material/icon/icon-04.png"
      %p.middle-introduction__list__content__title 様々な支払いに対応
      %p.middle-introduction__list__content__text お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。

        
.post
  %h2 商品一覧
  .post__box
    .post__box__head
      = link_to "products" do
        新規投稿商品
    .post__box__lists
      = render partial: 'products_list'

= render partial: 'layouts/footer'