.container__side
  %ul.container__side__list
    %li.container__side__list__name
      = link_to posts_path do
        マイページ 
      %i.fas.fa-angle-right    
    %li.container__side__list__name
      = link_to "#" do
        お知らせ
      %i.fas.fa-angle-right    
    %li.container__side__list__name
      = link_to "#" do
        やることリスト
      %i.fas.fa-angle-right    
    %li.container__side__list__name
      = link_to "#" do
        いいね！一覧
      %i.fas.fa-angle-right    
    %li.container__side__list__name
      = link_to "#" do
        出品する
      %i.fas.fa-angle-right    
    %li.container__side__list__name
      = link_to "#" do
        下書きする
      %i.fas.fa-angle-right    
    %li.container__side__list__name
      = link_to "#" do
        出品した商品ー出品中
      %i.fas.fa-angle-right    
    %li.container__side__list__name
      = link_to "#" do
        出品した商品ー取引中
      %i.fas.fa-angle-right    
    %li.container__side__list__name
      = link_to "#" do
        出品した商品ー売却済み
      %i.fas.fa-angle-right    
    %li.container__side__list__name
      = link_to "#" do
        購入した商品ー取引中
      %i.fas.fa-angle-right    
    %li.container__side__list__name
      = link_to "#" do
        購入した商品ー過去の取引
      %i.fas.fa-angle-right    
    %li.container__side__list__name
      = link_to "#" do
        ニュース一覧
      %i.fas.fa-angle-right    
    %li.container__side__list__name
      = link_to "#" do
        評価一覧
      %i.fas.fa-angle-right    
    %li.container__side__list__name
      = link_to "#" do
        ガイド
      %i.fas.fa-angle-right    
    %li.container__side__list__name
      = link_to "#" do
        お問い合わせ
      %i.fas.fa-angle-right    
  %ul.container__side__list
    %h3 メルペイ
    %li.container__side__list__name
      = link_to "#" do
        売り上げ・振り込み申請
      %i.fas.fa-angle-right  
    %li.container__side__list__name
      = link_to "#" do
        ポイント
      %i.fas.fa-angle-right  
  %ul.container__side__list
    %h3 設定
    %li.container__side__list__name
      = link_to "#" do
        プロフィール
      %i.fas.fa-angle-right 
    %li.container__side__list__name
      = link_to "#" do
        発注元・お届け先住所変更
      %i.fas.fa-angle-right 
    %li.container__side__list__name
      = link_to card_posts_path do
        支払い方法
      %i.fas.fa-angle-right 
    %li.container__side__list__name
      = link_to "#" do
        メール/パスワード
      %i.fas.fa-angle-right 
    %li.container__side__list__name
      = link_to "#" do
        本人情報
      %i.fas.fa-angle-right 
    %li.container__side__list__name
      = link_to "#" do
        電話番号の確認
      %i.fas.fa-angle-right 
    %li.container__side__list__name
      = link_to logout_posts_path do
        ログアウト
      %i.fas.fa-angle-right 