= render partial: 'layouts/header'
%nav.breadCrumbs
 %ul
  %li
   = link_to "/" do
    FURIMA
  %li
   %i.fa.fa-angle-right
  %li
   = link_to "#" do
    = @product.category.root.name
  %li
   %i.fa.fa-angle-right
  %li
   = link_to "#" do
    = @product.category.parent.name
  %li
   %i.fa.fa-angle-right
  %li
   = link_to "#" do
    = @product.category.name
  %li
   %i.fa.fa-angle-right
  %li
   %p= @product.name

.notice2
 - flash.each do |key, value|
  = content_tag(:div, value, class: key)

.main
 .main__show
  .main__show__content
   .main__show__content__top
    .main__show__content__top__itenBox
     %h2= @product.name
      
     .main__show__content__top__itenBox__body
      %ul
       %li
        .main__show__content__top__itenBox__body__image{style: "\n    width: 500px;\n    height: 364px;\n"}
         = image_tag(@product.images[0].src.url ,:size => "500x364")
         
   

        %ul
         - @product.images.each do |image|
          %li
           = image_tag image.src.url
     .main__show__content__top__itenBox__price
      %span= @product.price
      .main__show__content__top__itenBox__price__detail
       %span (税入)
       %span 送料込み
       
     - if @product.status == "sold"
      .main__show__content__top__itenBox__price__detail__buy2
       = link_to "" do
        売り切れ
     - elsif user_signed_in? && current_user.id == @product.user_id
      %ul.main__show__content__top__itenBox__price__detail__buy
       %li
        = link_to  edit_product_path(@product.id), method: :get do
         編集
       %li
        = link_to  product_path(@product.id), method: :delete do
         削除
     - elsif user_signed_in? 
      .main__show__content__top__itenBox__price__detail__buy2
       = link_to  product_buyers_path(@product.id), method: :get do
        購入画面に進む
     
     
     - else
      .main__show__content__top__itenBox__price__detail__buy2
       = link_to new_user_registration_path(@product.id), method: :get do
        新規登録画面へ

          
       

     .main__show__content__top__itenBox__itenpetali
      = @product.description

      
     .main__show__content__top__itenBox__table
      %table
       %tbody
        %tr
         %th 出品者
         %td= @product.user.nickname
        %tr
         %th カテゴリー
         %td
          = link_to "" do
           = @product.category.root.name
          %br/
          = link_to "" do
           = @product.category.parent.name
          %br/
          = link_to "" do
           = @product.category.name
        %tr
         %th ブランド
         %td= @product.brand
        %tr
         %th 商品のサイズ
         %td
        %tr
         %th 商品の状態
         %td= @product.condition
        %tr
         %th 配送料の負担
         %td= @product.shipping_fee
        %tr
         %th 発送元の地域
         %td
          = link_to "" do
           = @product.prefecture.name 
        %tr
         %th 発送日の目安
         %td= @product.shipping_duration

     .main__show__content__top__itenBox__Area
      %ul.option1
       %li.option1__li
        %i.fa.fa-star
        お気に入り 0

      %ul.option2
       %li.option2__li
        = link_to "" do
         %i.fa.fa-flag 不適切な商品の通報


    .main__show__content__top__commentBox
     %ul
     - if current_user
      = form_with(model: [@product, @comment], local: true, id: "new_comment") do |form|
       = form.text_area :text, placeholder: "" , rows: "2", class: "textbox"
       %p.noticeMsg
        相手のことを考え丁寧なコメントを心がけましょう。
        %br/
        不快な言葉遣いなどは利用制限や退会処分となることがあります。
        %br/
       = button_tag type: "submit",  class: "form__submit" do
        %i.fa.fa-comment
        質問・コメントする
       
     - else
      %strong
       %p ※※※ コメントの投稿には新規登録/ログインが必要です ※※※
       %br/
     %h4 ＜質問・コメント一覧＞
     .main__show__content__top__commentBox__comments
      
      - if @comments
       - @comments.each do |comment|
        %p.main__show__content__top__commentBox__comments__comment
         %strong
          = link_to comment.user.nickname, "#"
          ：
         = comment.text

    %ul.main__show__content__top__links
     %li
      = link_to "" do
       %i.fa.fa-angle-left
       %span
       前の商品
     %li
      = link_to "" do
       %span 後ろの商品
       %i.fa.fa-angle-right
    .main__show__content__top__relateedItems
     = link_to "" do
      ベビー・キッズをもっと見る
     .productLists
= render partial: 'layouts/footer'