%header.header
.header__inner
  .header__inner__top
    .header__inner__top__icon
      = link_to "/" do
        = image_tag '/images/material/logo/logo.png'
    .header__inner__top__searchbox
      %form
        %input{:placeholder => "キーワードから探す", :type => "text"}/
        %button{:type => "submit"}
          .header__inner__top__searchbox__icon
            = image_tag "/images/material/icon/icon-search 1.png"
  .header__inner__nav
    %ul.header__inner__nav__left
      %li.header__inner__nav__left__category
        = link_to "#" do
          カテゴリ-

        %ul.header__inner__nav__left__category__treeContainer
          %li.header__inner__nav__left__category__treeContainer__parent
            - @parents.each do |parent|
              = link_to "#{parent.name}", class: "parent_category",id: "#{parent.id}"
             


      %li.header__inner__nav__left__brand
        = link_to "#" do
          ブランド
    %ul.header__inner__nav__right
      - if user_signed_in?
        %li.header__inner__nav__right__login 
          = link_to  posts_path do
            マイページ
        %li.header__inner__nav__right__new 
          = link_to destroy_user_session_path, method: :delete do
            ログアウト
      - else
        %li.header__inner__nav__right__login 
          = link_to new_user_session_path do
            ログイン
        %li.header__inner__nav__right__new 
          = link_to new_user_registration_path do
            新規登録