!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FreemarketSample66a
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header.header
      .header__inner
        .header__inner__top
          .header__inner__top__icon
            %a{:href => "#"}
              %img{:src => "/assets/material/logo/logo.png"}/
          .header__inner__top__searchbox
            %input{:placeholder => "キーワードから探す", :type => "text"}/
            %button{:type => "submit"}
              .header__inner__top__searchbox__icon
                %img{:src => "/assets/material/icon/icon-search 1.png"}/
        .header__inner__bottom
          .header__inner__bottom__left
            %ul
              %li カテゴリー
              %li ブランド
          .header__inner__bottom__right
            %ul
              %li ログイン
              %li 新規会員登録
    = yield
