<!DOCTYPE html>
<html>
  <head>
    <title>FreemarketSample66a</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="header">
      <div class="header__inner">
        <div class="header__inner__top">
          <div class="header__inner__top__icon">
            <a href="#">
              <img src="/assets/material/logo/logo.png">
            </a>
          </div>
          <div class="header__inner__top__searchbox">
          <input type="text" placeholder="キーワードから探す">
            <button type="submit">
               <div class="header__inner__top__searchbox__icon">
                 <img src="/assets/material/icon/icon-search 1.png">
               </div>
            </button>
          </div>
        </div>
        <div class="header__inner__bottom">
          <div class="header__inner__bottom__left">
            <ul>
              <li>カテゴリー</li>
              <li>ブランド</li>
            </ul>
          </div>
          <div class="header__inner__bottom__right">
            <ul>
              <li>ログイン</li>
              <li>新規会員登録</li>
            </ul>
          </div>
          
        </div>
      </div>
  </header>
    <%= yield %>
  </body>
</html>
