<!DOCTYPE html>
<html>
  <head>
    <title>FreemarketSample66a</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
  <div class="header__top">
  <div class="header__top__icon"></div>
  <div class="header__top__input"></div>
  </div>
  <div class="header__bottom">
  </div>

  </header>
    <%= yield %>
  </body>
</html>
